<div class="container">
    <div class="login-box">
        <h2>LOG IN</h2>
        <input type="email" placeholder="Email">
        <input type="tel" placeholder="Teléfono">
        <input type="password" placeholder="Contraseña">
        <input type="password" placeholder="Confirmar contraseña">
        <button>Ingresar</button>
    </div>
        <div class="welcome-box">
            <h2>BIENVENIDO</h2>
            <p>¿Ya tienes cuenta?</p>
            <button>Iniciar sesión</button>
            <a href="">home</a>
        </div>
</div>
<div class="cuadrado"></div>
<div class="cuadrado2"></div>
